= partial("header")

%body.proyectos
	= partial("menu")
	.header_page
		%h1	Marhnos Inmobiliaria, S.A. De C.V.
	.center
		%p Fringilla hendrerit placerat tincidunt suspendisse tristique vestibulum fusce a cum ut lobortis facilisis a conubia nam a suscipit nullam cras ornare interdum lacinia.Class neque donec ante integer suscipit scelerisque parturient maecenas neque sociosqu habitasse a etiam duis mi a orci adipiscing mattis suspendisse.Cum adipiscing id consectetur in vehicula ullamcorper tristique adipiscing feugiat vulputate lobortis dui lorem a nam.
	= partial("footer")





		