= partial("header")

%body.single
	= partial("menu")
	.header_page
		%h1	PREGUNTAS FRECUENTES
	.center
		%p.subtitle
			Te presentamos una lista de las preguntas más frecuentes en TOP FLOOR 
			%br
			Espereamos que encuentres la información que estas buscando pero si ese no es el caso, 
			%a{:href => '/'} contáctanos
		%ul.table
			%li
				.question
					%h2 ¿TIENES PREGUNTAS DE CÓMO FUNCIONA TOP FLOOR?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
					%p AIGA offers only full-conference registration to its events. The experience and the pricing for the conference are based on participants attending the entire conference. Based on experience, we have determined that it is neither economically nor administratively feasible for our small staff to offer partial registrations and to oversee compliance. As such, it would be unfair to those paying full registration to allow those purchasing a partial registration to experience the full conference by violating the intent of a partial registration.
				.question
					%h2 ¿CUÁL ES LA CANTIDAD MÁXIMA QUE PUEDO INVERTIR?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
				.question
					%h2 ¿TIENES PREGUNTAS DE CÓMO FUNCIONA TOP FLOOR?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
					%p AIGA offers only full-conference registration to its events. The experience and the pricing for the conference are based on participants attending the entire conference. Based on experience, we have determined that it is neither economically nor administratively feasible for our small staff to offer partial registrations and to oversee compliance. As such, it would be unfair to those paying full registration to allow those purchasing a partial registration to experience the full conference by violating the intent of a partial registration.
				.question
					%h2 ¿CUÁL ES LA CANTIDAD MÁXIMA QUE PUEDO INVERTIR?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
			%li
				.question
					%h2 ¿CUÁL ES LA CANTIDAD MÁXIMA QUE PUEDO INVERTIR?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
				.question
					%h2 ¿EN PROMEDIO, CUÁL ES EL TIEMPO DE VIDA DE UN PROYECTO?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
				.question
					%h2 ¿CUÁL ES LA CANTIDAD MÁXIMA QUE PUEDO INVERTIR?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
				.question
					%h2 ¿EN PROMEDIO, CUÁL ES EL TIEMPO DE VIDA DE UN PROYECTO?
					%p A limited number of nonprofit registrations are available. The rate is determined by your current membership status, and you must supply a copy of the organization’s certificate of incorporation establishing nonprofit status.
		.extrafooter
			%p ¿Te interesa invertir en TOP FLOOR?
			%a.button.black{:href => '/proyectos'} Ve todos los proyectos
	= partial("footer")




		