#footer.border
	.center
		%a{:href => '/'}
			%img.logo{:src => '/images/general/logo_r.svg'}
		%ul
			%li
				%a{:href => '/'} Blog
			%li
				%span /
			%li
				%a{:href => '/'} Términos y Condiciones
			%li
				%span /
			%li
				%a{:href => '/'} Preguntas Frecuentes
			%li
				%span /
			%li
				%p Síguenos en:
				%a.icon.tw{:href => '/'}
				%a.icon.fb{:href => '/'}
			

