#footer.border
	.center
		%a{:href => '/'}
			%img.logo{:src => '/images/general/logo_r.svg'}
		%ul
			%li
				%a{:href => '/'} Home
			%li
				%span /
			%li
				%a{:href => '/'} Blog
			%li
				%span /
			%li
				%a{:href => '/'} Acerca de
			%li
				%span /
			%li
				%a{:href => '/terminos'} Términos y Condiciones
			%li
				%span /
			%li
				%a{:href => '/faq'} FAQ
			%li
				%span /
			%li
				%a{:href => '/'} Contacto
			%li
				%span /

			%li
				%p Síguenos en:
				%br
				%a.icon.tw{:href => '/'}
				%a.icon.fb{:href => '/'}
			

