= partial("header")

%body.login
	.cover_text INICIAR SESIÓN
	#menu.red.fill
		.center
			%a.mini_logo{:href => '/'}
				%img{:src => '/images/general/menu_logo_r.svg'}

	.content
		.center
			%h1.din-medium QUÉ BUENO VERTE DE NUEVO
			%p Inicia sesión para ver tus inversiones
			.field
				%p Correo
				%input.error{:type => 'text', :placeholder => 'Debes completar este campo'}
				.erroricon
			.field
				%p Contraseña
				%input{:type => 'password', :placeholder => 'Tu contraseña'}
			%a.button.black{:href => '/profile'} Iniciar sesión
			%a.forget{:href=>'/recuperar'} ¿Olvidaste tu contraseña?
	= partial("footer")
