#menu
	.center
		%a.mini_logo{:href => '/'}
			%img{:src => '/images/general/menu_logo.svg'}
		%a.menu_profile{:href => '/profile'} Cerrar sesión
		%a.menu_profile{:href => '/datos'} Datos y documentos
		%a.menu_profile{:href => '/profile'} Historial de inversiones
		