#menu
	.center
		%a.mini_logo{:href => '/'}
			%img{:src => '/images/general/menu_logo.svg'}
		%a.login{:href => '/login'}
		%a.company{:href => '/desarrollador'} Soy desarrollador
		%a.company{:href => '/proyectos'} Proyectos
		#trigger_menu
	#menu_mobile
		.center
			#close_menu_mobile
			%a.log{:href => '/login'} Iniciar sesión
			%a{:href => '/desarrollador'} Soy desarrollador
			%a{:href => '/proyectos'} Proyectos