= partial("header")

%body.profile
	#menu
		.center
			%a.mini_logo{:href => '/'}
				%img{:src => '/images/general/menu_logo.svg'}
			%ul.menu_profile
				%li Mi cuenta
				%li
					%a.menu_profile{:href => '/editar'} Editar cuenta
				%li
					%a.menu_profile{:href => '/'} Cerrar sesión
					
			%a.menu_profile{:href => '/datos'} Datos y documentos
			%a.menu_profile.active{:href => '/profile'} Historial de inversiones
		#trigger_menu_login
		#menu_mobile_login
			.center
				#close_menu_mobile
				%a.log{:href => '/profile'} Historial de inversiones
				%a{:href => '/datos'} Datos y documentos
				%a.red{:href => '/editar'} Editar cuenta
				%a{:href => '/'} Cerrar sesión
	.header
		.center
			.content.name
				%img{:src => '/images/demos/user.png'}
				%h2 SAÚL GONZÁLEZ
				%p.first saulsaulsaul@gmail.com
				%p +01 (55) 7178118
			.content.return.inversion
				%h2 $50,000 MXN
				%p INVERSION TOTAL
			.content.return
				%h2 $100,000 MXN
				%p RETORNO TOTAL
	.submenu
		.center
			.left
			%p TORRE CAMPOS ELISEOS
			%a.right{:href => '/profile'}
	.proyects
		.center
			.big_card
				.card
					%img{:src => '/images/demos/project.png'}
					.text
						%h2 TORRE CAMPOS ELISEOS
						%p Marhnos Inmobiliaria, S.A. de C.V.
						.money
							%div.first
								%span A
								%h3 $50,000 MXN
								%p INVERSIÓN
							%div
								%span B
								%h3 $75,000 MXN
								%p RETORNO
						.fields
							.field
								%p TIR 
								%h4 41.16%
							.field
								%p ROI 
								%h4 3.12
							.field
								%p Horizonte de tiempo 
								%h4 5 años
						.crowdfunding
							.bar
								.fill
							.percent 
								%strong 70% 
								Completado
							.time Quedan XX días
	#timeline
		.cover_text INVERSIONES
		.center 
			%h2.title Línea de tiempo de tu inversion:
			.timeline
				.point#point1
					.icon.active
					.pointer
				.step#step3
					%span.red Agosto/2017
					.reach.large
						.label
						%h2 Inicia desarrollo
						.photos
							%img{:src => '/images/demos/project.png'}
							%img{:src => '/images/demos/project.png'}
							%img{:src => '/images/demos/project.png'}
							%img{:src => '/images/demos/project.png'}
						.icon.images
				.line.top#line4
				.point#point4
					.icon
				.step.green#step4
					%span Julio/2017
					%p FONDEO COLECTIVO
				.line.top#line5
				.point#point5
					.icon
				.step#step5
					%span Enero/2017
					.reach
						.label
						%h2 Proyecto Ejecutivo
						%p Hacemos due dilligence exhaustivo de cada proyecto inmobiliario y seleccionamos sólo los mejores para que inicies tu portafolio.
						%p Asimismo, trabajamos con bancos nacionales para que tus inversiones sean más seguras.
				.line.top#line6
				.point#point6
					.icon
				.step#step6
					%span Agosto/2016
					%p.simple Inversión, bancos e inversionistas
				.line.top#line7
				.point#point7
					.icon
				.step#step7
					%span Agosto/2016
					.reach
						.label
						%h2 Visita el proyecto
						%p 
							%strong Saúl,
							elige la hora en que quieres visitar la construcción.
						.timer
							.counter
								#hour 10
								%span :00 
								#time HRS
								#arrows
									.arrowup
									.arrowdown
							.button Confirmar
						.icon.time
				.line.top#line8
				.point#point8
					.icon
				.step#step8
					%span Agosto/2016
					.reach.video
						.label
						%h2 Torre Campos Eliseos
						.minivideo
							%img.play{:src => '/images/icons/play.svg'}
						.icon.play
			.extrafooter
				%a.share{:href => '/'}
					.icon
					%p Comparte estas inversiones con tus amigos
				.call
					%p ¿Te interesa seguir invirtiendo?
					%a.button{:href => '/proyectos'} Ve todos los proyectos

		
	
	= partial("footer")





		