= partial("header")

%body.proyecto_contratos
	#supervideo
		#closevideo
		#video
		
	= partial("menu")
	.header_page
		%h1	DESCARGA DE CONTRATOS
		.center
			%a{:href => '/proyecto'} < Regresar al proyecto
	.content
		.cover_text DOCUMENTOS
		.center
			%p.text_red Saúl, por favor descarga e imprime los contratos de este proyecto. Deberás firmarlos y enviarlos a las oficinas de TOP FLOOR para seguir con tu inversión.
		%a.card{:href => "/proyecto"}
			%img{:src => '/images/demos/project.png'}
			.text
				%h2 TORRE CAMPOS ELISEOS
				%p Marhnos Inmobiliaria, S.A. de C.V.
				.field
					%p TIR 
					%h4 41.16%
				.field
					%p ROI 
					%h4 3.12
				.field
					%p Horizonte de tiempo 
					%h4 5 años
		.contrato
			.center
				%a#download.button.black{:href => "http://www.werkspoorkathedraal.nl/user-files/uploads/2015/02/dummy_pdf.pdf", :download => ''} Descargar contratos
			.warning
				.center
					%p ¿Tienes preguntas de cómo funciona Top Floor? 
					%a#triggervideo Mira nuestro video
					%p o lee las 
					%a{:href => '/faq'}Preguntas Frecuentes.
		.instructions
			.center
				%h2.subtitle Tu descarga contiene:
				.pack
					%div
						%h2 Fideicomiso
						%p En este contrato quedan plasmados sus derechos sobre los flujos futuros del proyecto y cede la operación a Top Floor. Así como un KYC para el banco.
					%div
						%h2 Administración de Inversión
						%p En este contrato quedan plasmados sus derechos sobre los flujos futuros del proyecto y cede la operación a Top Floor. Así como un KYC para el banco.
					%div
						%h2 Contrato de garantía de pago
						%p En este contrato quedan plasmados sus derechos sobre los flujos futuros del proyecto y cede la operación a Top Floor. Así como un KYC para el banco.
				%p Lee cuidadosamente los contratos. Después imprime, firma y escanea para subirlos desde tu perfil. 
				%a{:href => '/datos'} Visita tu perfil
	= partial("footer")
	