= partial("header")

%body.proyectos
	#supervideo
		#closevideo
		#video

	= partial("menu")
	.header_page
		%h1	INVERSIONES DISPONIBLES
	%ul.submenu
		.center
			%li.active Todos
			%li Entrada y Salida
			%li CAP
			%li Patrimoniales
			%li.urban Regeneración Urbana
	%select.subselect
		%option Todos
		%option Entrada y Salida
		%option CAP
		%option Patrimoniales
		%option Regeneración Urbana
	.cards
		.center
			.text_reg Aquí explicamos la diferencia entre los proyectos de Regeneración urbana y los demás tipos de inversión.
			- 2.times do
				%a.card{:href => "/proyecto"}
					%img{:src => '/images/demos/project-copy.png'}
					.text
						%h2 TORRE CAMPOS ELISEOS
						%p Marhnos Inmobiliaria, S.A. de C.V.
						.field
							%p TIR 
							%h4 41.16%
						.field
							%p ROI 
							%h4 3.12
						.field
							%p Horizonte de tiempo 
							%h4 5 años
			- 2.times do
				%a.card.rege{:href => "/proyecto"}
					%img{:src => '/images/demos/project-copy.png'}
					.text
						%h2 TORRE CAMPOS ELISEOS
						%p Marhnos Inmobiliaria, S.A. de C.V.
						.field
							%p TIR 
							%h4 41.16%
						.field
							%p ROI 
							%h4 3.12
						.field
							%p Horizonte de tiempo 
							%h4 5 años
	.warning
		.center
			%p ¿Tienes preguntas de cómo funciona Top Floor? 
			%a#triggervideo Ve nuestro video explicativo 
			%p o lee las 
			%a{:href => '/faq'}preguntas frecuentes.
	= partial("footer")





		