= partial("header")

%body.proyecto
	= partial("menu_red")

	:plain
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true"><div class="pswp__bg"></div><div class="pswp__scroll-wrap"><div class="pswp__container"><div class="pswp__item"></div><div class="pswp__item"></div><div class="pswp__item"></div></div><div class="pswp__ui pswp__ui--hidden"><div class="pswp__top-bar"><div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button><button class="pswp__button pswp__button--share" title="Share"></button><button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button><button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button><div class="pswp__preloader"><div class="pswp__preloader__icn"><div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div></div></div></div><div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"><div class="pswp__share-tooltip"></div></div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button><button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button><div class="pswp__caption"><div class="pswp__caption__center"></div></div></div></div></div>

	.info
		%h3.din-medium $176 millones MXN
		%h4 INVERSIÓN COLECTIVA
		.crowdfunding
			%h2 
				%strong$58 millones 
				MXN Recaudado
			.bar
				.fill
			.percent 
				%strong 70% 
				Financiado
			.time Quedan XX días
		.square.hide{:rel => '0'}
			.down
			%h3 RESUMEN DE LA INVERSIÓN
			.total.subline
				%h2 $1,474,902,469 MXN
				%p Total financioado por TOP FLOOR
			.total
				%h2 $884,941,481.98 MXN
				%p Monto total de la inversión
			.total
				%h2 20%
				%p Inversión colectiva TOP FLOOR
			%a.total{:href => '/'}
				.print
				%span Descargar resumen financiero

		.square
			.head
				%h2 $50,000 MXN
				%p INVERSIÓN MÍNIMA 
				%span.trigger_tooltip{:rel => '0'}
					.tooltip 
						.icon
						Valor mínimo a invertir en el proyecto.
					(?)
			.extras
				.extra
					%span A
					%h2 $30,000 MXN
					%p Pago inicial
				.icon
				.extra
					%span B
					%h2 $20,000 MXN
					%p 4 pagos de $5,000
			.details
				.detail
					%p TIR
					%span.trigger_tooltip{:rel => '0'}
						.tooltip 
							.icon
							Valor mínimo a invertir en el proyecto.
						(?)
					%h2 41.16 %
				.detail
					%p ROI
					%span.trigger_tooltip{:rel => '0'}
						.tooltip 
							.icon
							Valor mínimo a invertir en el proyecto.
						(?)
					%h2 3.12
				.detail
					%p Horizonte de tiempo
					%span.trigger_tooltip{:rel => '0'} 
						.tooltip 
							.icon
							Valor mínimo a invertir en el proyecto.
						(?)
					%h2 5 años
			%a.button{:href => "/registro"}Invertir ahora
			%a.button.black{:href => "/simulador"} Simular inversión
	.gallery
		.cover
			.text
				%ul
					%li
						%a{:href => '/mapa'} Ubicación
				.label
				%h1 TORRE CAMPOS ELISEOS
				%h2 
					%a{:href => '/constructor'} Marhnos Inmobiliaria, S.A. De C.V.
				.line
				%p Un nuevo desarrollo habitacional ubicada en una de las mejores zonas de la ciudad de México. La colonia Doctores.
				%p Se estima la pre-venta para que la utilidad de lo proyectado. Se realiza un pago correspondiente al 33% a cuenta del terreno de inicio. Logrando una facilidad hasta de 10 pagos de $10,000.
				.selectors
					.selector#initgallery
					- 9.times do
						.selector
				.social
					%p Comparte este proyecto:
					:plain
						<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					:plain 
						<iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button_count&size=small&mobile_iframe=true&appId=146843335490482&width=144&height=20" width="144" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>



		