= partial("header")

%body.run_simulador
	.cover_text SIMULADOR
	= partial("menu_red")
	.data
		.text
			%h1 TORRE CAMPOS ELISEOS
			%h2 Marhnos Inmobiliaria, S.A. De C.V.
			%a{:href => "/proyecto"} < Regresar al proyecto
		.square
			%h2 Hola, Saúl González:
			%p Este es el resumen de inversión para el proyecto Torre Campos Eliseos:
			.money
				%span A
				%h3 $50,000 MXN
				%p INVERSIÓN
			.money#moneyb
				%span B
				%h3 
					$
					.currency 0
					MXN
				%p RETORNO
			%a.button{:href => "/registro"}Empieza a Invertir
			.social
				%p Comparte el resumen de esta inversión:
				%span
					.icon.email
					Correo
				%span
					.icon.print
					Imprimir
				%span
					.icon.url
					URL
	.timeline
		.name
			.icon
			%p TORRE CAMPOS ELISIOS
		.line#line1
		.point#point1
			.icon
		.step#step1
			%span Enero/2016
			%p Proyecto ejecutivo
		.line.top#line2
		.point#point2
			.icon
		.step#step2
			%span Abril/2016
			%p Inversión, bancos e inversionistas
		.line.top#line3
		.point#point3
			.icon
		.step#step3
			%span Julio/2016
			%p FONDEO COLECTIVO
		.line.top#line4
		.point#point4
			.icon
		.step#step4
			%span Agosto/2016
			%p Inicia desarrollo
		.line.top#line5
		.point#point5
			.icon
		.step#step5
			%span Agosto/2017
			%p Preventa
		.line.top#line6
		.point#point6
			.icon
		.step#step6
			%span Agosto/2017
			%p Termina desarrollo
