@charset "UTF-8";
body {
  font-family: "Roboto Mono";
  background: #FFF; }

.center {
  width: 1200px;
  margin: 0 auto; }

#menu {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0; }
  #menu .mini_logo {
    float: left; }
  #menu .login, #menu .company {
    display: block;
    font-size: 13px;
    float: right;
    margin-top: 18px;
    color: #FFF; }
  #menu .company {
    margin-right: 40px; }
  #menu .login::after {
    content: "Iniciar sesión"; }
  #menu #trigger_menu, #menu #trigger_menu_login {
    display: none;
    float: right;
    width: 52px;
    height: 52px;
    background: url(../images/icons/menu_w.svg) center no-repeat;
    cursor: pointer; }
  #menu.bg {
    background: rgba(228, 29, 39, 0.4); }

#menu.red .mini_logo {
  margin-left: 20px; }
#menu.red .back {
  display: inline-block;
  margin: 20px 0 0 20px;
  color: #FFF;
  font-size: 12px; }

#menu.fill {
  height: 50px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(239, 239, 239, 0.25);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.05);
  -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.05);
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.05); }
  #menu.fill .login, #menu.fill .company {
    color: rgba(18, 17, 14, 0.8); }
  #menu.fill #trigger_menu {
    background: url(../images/icons/menu.svg) center no-repeat; }

#menu_mobile {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 0;
  background: #FFF;
  z-index: 100; }
  #menu_mobile .center {
    overflow: hidden; }
  #menu_mobile #close_menu_mobile {
    float: right;
    width: 52px;
    height: 52px;
    background: url(../images/icons/menucloser.svg) center no-repeat;
    cursor: pointer; }
  #menu_mobile .log {
    margin-top: 52px; }
  #menu_mobile a {
    display: block;
    padding: 20px;
    color: rgba(18, 17, 14, 0.8);
    text-align: right;
    font-size: 16px;
    opacity: 0.8; }
    #menu_mobile a:hover {
      background: #EFEFEF; }

#menu_mobile_login {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 0;
  background: #ED1C24;
  z-index: 100; }
  #menu_mobile_login .center {
    overflow: hidden; }
  #menu_mobile_login #close_menu_mobile {
    float: right;
    width: 52px;
    height: 52px;
    background: url(../images/icons/menuclose.svg) center no-repeat;
    cursor: pointer; }
  #menu_mobile_login .log {
    margin-top: 52px; }
  #menu_mobile_login .red {
    background: #CB171E; }
  #menu_mobile_login a {
    display: block;
    padding: 20px;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    opacity: 0.8; }
    #menu_mobile_login a:hover {
      background: #CB171E; }

#footer {
  padding: 70px 0 100px; }
  #footer .logo {
    float: left;
    width: 120px; }
  #footer ul {
    float: right; }
    #footer ul li {
      margin-bottom: 4px;
      font-size: 12px;
      display: inline-block;
      color: rgba(18, 17, 14, 0.8); }
      #footer ul li br {
        display: none; }
      #footer ul li a {
        color: rgba(18, 17, 14, 0.8); }
        #footer ul li a:hover {
          text-decoration: underline; }
      #footer ul li p {
        font-size: 12px;
        margin: 0;
        display: inline-block; }
      #footer ul li .icon {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 35px;
        margin-left: 6px; }
      #footer ul li .tw {
        background: url(../images/social/tw.svg); }
      #footer ul li .fb {
        background: url(../images/social/fb.svg); }

#footer.border {
  border-top: 1px solid #D4D4D4; }

.login .content {
  padding-bottom: 200px;
  background-image: linear-gradient(to bottom, #fefefe, #fbfbfb), linear-gradient(#fbfbfb, #fbfbfb); }
.login #menu {
  border: none !important;
  box-shadow: none !important; }
.login .cover_text {
  opacity: 1;
  width: 200%;
  height: 260px;
  overflow: hidden;
  margin: 0;
  left: 0; }
.login h1 {
  font-size: 60px;
  color: #ED1C24;
  width: 500px;
  margin-top: 200px; }
.login p {
  font-size: 16px;
  margin: 30px 0; }
.login .field {
  position: relative;
  display: inline-block;
  margin: 30px 20px 30px 0;
  text-align: left;
  width: 320px; }
  .login .field p {
    font-size: 16px;
    letter-spacing: -0.4px;
    color: rgba(18, 17, 14, 0.8);
    margin: 0; }
  .login .field input {
    margin-top: 10px;
    background: rgba(239, 239, 239, 0.5);
    border: 1px solid #D4D4D4;
    width: 310px;
    padding: 10px 10px;
    font-family: "Roboto Mono";
    font-size: 16px;
    color: rgba(18, 17, 14, 0.8);
    letter-spacing: -0.5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: none; }
    .login .field input:focus {
      border-color: #ED1C24; }
  .login .field .error {
    border-color: #ED1C24;
    background: rgba(237, 28, 36, 0.2); }
    .login .field .error::-webkit-input-placeholder {
      color: #ED1C24; }
  .login .field .erroricon {
    position: absolute;
    top: 34px;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(../images/icons/alert.svg) center no-repeat; }
.login .button {
  text-align: center;
  margin: 0; }
.login .forget {
  display: inline-block;
  font-size: 12px;
  margin: 10px 0;
  color: #000; }

.home h3 {
  font-size: 46px;
  color: #ED1C24;
  font-family: "DIN-Regular"; }

#supervideo {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  background: rgba(18, 17, 14, 0.8); }
  #supervideo #closevideo {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
    background: url(../images/icons/close.svg) center no-repeat;
    background-size: cover;
    cursor: pointer; }

#welcome {
  position: relative;
  height: 640px;
  text-align: center;
  overflow: hidden;
  background: url(../images/demos/video.jpg) center no-repeat;
  background-size: cover; }
  #welcome .cover_video {
    position: absolute;
    width: 100%; }
    #welcome .cover_video #cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10; }
    #welcome .cover_video video {
      width: 100%; }
  #welcome .cover_welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10; }
    #welcome .cover_welcome .logo_container {
      width: 560px;
      height: 102px;
      background: #ED1C24;
      margin: 218px auto 30px;
      overflow: hidden; }
      #welcome .cover_welcome .logo_container .logo {
        margin-top: 18px; }
    #welcome .cover_welcome h1 {
      font-size: 30px;
      letter-spacing: 0.5px;
      color: #FFF; }
    #welcome .cover_welcome .controls {
      text-align: center;
      margin-top: 50px; }
      #welcome .cover_welcome .controls * {
        cursor: pointer; }
      #welcome .cover_welcome .controls .play {
        display: inline-block;
        margin-right: 20px; }
      #welcome .cover_welcome .controls p {
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        color: #FFF;
        width: 135px;
        text-align: left;
        margin-top: 18px;
        line-height: 18px; }

.section {
  border-bottom: 1px solid #D4D4D4;
  text-align: center;
  padding: 100px 0;
  overflow: hidden; }

#featured {
  background: #FFF;
  border-top: 1px solid #D4D4D4; }
  #featured h3 {
    margin: 60px 0 70px; }

.cover_text {
  position: absolute;
  opacity: 0;
  width: 1500px;
  left: 50%;
  margin-top: 100px;
  margin-left: -750px;
  color: rgba(18, 17, 14, 0.02);
  font-size: 274px;
  font-weight: 700;
  z-index: 0; }

.card {
  display: block;
  width: 790px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid rgba(18, 17, 14, 0.8); }
  .card img {
    float: left;
    overflow: hidden; }
  .card .text {
    position: relative;
    overflow: hidden;
    padding: 30px;
    text-align: left; }
    .card .text h2 {
      font-family: "DIN-Regular";
      font-size: 34px;
      color: rgba(18, 17, 14, 0.8); }
    .card .text p {
      font-size: 18px;
      letter-spacing: -0.5px;
      color: rgba(29, 40, 47, 0.8); }
    .card .text .field {
      display: inline-block;
      margin: 40px 20px 0 0; }
      .card .text .field p, .card .text .field span {
        display: inline-block;
        font-size: 14px;
        line-height: 1.4; }
      .card .text .field span {
        color: #ED1C24; }
      .card .text .field h4 {
        font-size: 18px;
        color: rgba(18, 17, 14, 0.8);
        line-height: -0.9px;
        margin-top: 5px; }
  .card:hover {
    border-color: #ED1C24;
    box-shadow: 0 0 18px 0 rgba(237, 28, 36, 0.2); }
  .card.active {
    border-color: #ED1C24;
    box-shadow: 0 0 18px 0 rgba(237, 28, 36, 0.2); }

.button {
  display: block;
  width: 240px;
  font-size: 16px;
  color: #FFF;
  background: #ED1C24;
  padding: 14px 28px;
  margin: 66px auto 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .button.black {
    background: rgba(18, 17, 14, 0.8); }
    .button.black:hover {
      box-shadow: 0 0 18px 0 rgba(28, 40, 47, 0.2); }
  .button:hover {
    box-shadow: 0 0 18px 0 rgba(237, 28, 36, 0.2); }

#why {
  background: rgba(239, 239, 239, 0.25);
  min-height: 900px; }
  #why .center {
    position: relative; }
  #why h3 {
    padding-bottom: 60px; }
  #why .step {
    float: left;
    position: relative;
    width: 648px;
    height: 176px;
    margin: 80px 0; }
    #why .step .line {
      display: none;
      position: absolute;
      width: 40px;
      height: 10px;
      background: #ED1C24;
      z-index: 6;
      top: 30px;
      left: -20px; }
    #why .step span {
      display: none;
      position: absolute;
      font-size: 274px;
      font-weight: 700;
      color: rgba(18, 17, 14, 0.02);
      left: -56px;
      top: -110px;
      z-index: 1; }
    #why .step .square {
      display: none;
      position: absolute;
      width: 628px;
      height: 178px;
      border: 1px solid rgba(18, 17, 14, 0.8);
      background: #FFF;
      text-align: left; }
      #why .step .square h2 {
        font-size: 24px;
        color: #ED1C24;
        padding: 16px 24px;
        max-width: 410px; }
      #why .step .square p {
        font-size: 14px;
        color: #12110e;
        padding: 0 24px;
        max-width: 410px;
        line-height: 20px; }
    #why .step .down {
      z-index: -1;
      right: 0;
      top: 20px; }
    #why .step .icon {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 40px;
      right: 34px; }
  #why .step:nth-child(2n-1) {
    float: right; }
  #why #step1 .icon {
    background: url(../images/icons/rendimientos.svg) center no-repeat;
    background-size: contain; }
  #why #step2 .icon {
    background: url(../images/icons/seguro.svg) center no-repeat;
    background-size: contain; }
  #why #step3 .icon {
    background: url(../images/icons/seguimiento.svg) center no-repeat;
    background-size: contain; }
  #why .line_v {
    position: absolute;
    height: 0px;
    border-left: 1px dotted rgba(18, 17, 14, 0.8); }
  #why .line_h {
    position: absolute;
    width: 0px;
    border-bottom: 1px dotted rgba(18, 17, 14, 0.8); }
  #why #line1-2v {
    top: 387px;
    left: 100px; }
  #why #line1-2h {
    top: 588px;
    left: 100px; }
  #why #line2-3v {
    top: 721px;
    right: 100px; }
  #why #line2-3h {
    top: 922px;
    right: 100px; }

#types {
  padding-bottom: 0;
  border: none; }
  #types .center {
    position: relative; }
  #types h3 {
    padding-bottom: 60px; }
  #types .simple {
    max-width: 900px;
    margin: 0 auto 40px;
    font-size: 14px;
    line-height: 18px;
    color: #12110E; }
  #types .type {
    display: none;
    position: relative;
    width: 280px;
    height: 414px;
    text-align: left;
    margin-top: 40px; }
    #types .type.red .text {
      border: 1px solid #ED1C24; }
      #types .type.red .text h2 {
        color: #ED1C24; }
      #types .type.red .text p {
        background: #ED1C24;
        color: #FFF; }
    #types .type .text, #types .type .cover {
      position: absolute;
      width: 280px;
      height: 100%; }
    #types .type .cover {
      height: 0;
      bottom: 0;
      background: #ED1C24;
      border: 1px solid #ED1C24;
      overflow: hidden;
      color: #FFF;
      text-align: center; }
      #types .type .cover .close {
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../images/icons/close.svg);
        top: 16px;
        right: 16px;
        cursor: pointer; }
      #types .type .cover h2 {
        font-size: 14px;
        padding: 20px 0; }
      #types .type .cover .icon {
        display: none;
        width: 81px;
        height: 81px;
        background: #FFF;
        margin: 0 auto 35px; }
      #types .type .cover p {
        text-align: left;
        font-size: 14px;
        line-height: 18px;
        padding: 20px; }
    #types .type .text {
      border: 1px solid rgba(18, 17, 14, 0.8); }
      #types .type .text > p {
        font-size: 14px;
        line-height: 1.3;
        color: rgba(18, 17, 14, 0.8);
        padding: 40px 20px; }
      #types .type .text h2 {
        text-align: center;
        font-size: 14px;
        letter-spacing: 1px;
        color: rgba(18, 17, 14, 0.8);
        padding: 18px 20px 30px; }
      #types .type .text .field {
        padding: 20px 20px 0; }
        #types .type .text .field p, #types .type .text .field span {
          display: inline-block;
          font-size: 12px; }
        #types .type .text .field h4 {
          font-size: 16px;
          margin: 4px 0; }
        #types .type .text .field span {
          cursor: pointer;
          position: relative;
          color: #ED1C24; }
      #types .type .text .icon {
        width: 81px;
        height: 81px;
        margin: 0 auto 35px; }
        #types .type .text .icon.entrada {
          background: url(../images/icons/2.svg);
          background-size: cover; }
        #types .type .text .icon.cap {
          background: url(../images/icons/4.svg);
          background-size: cover; }
        #types .type .text .icon.patrimoniales {
          background: url(../images/icons/6.svg);
          background-size: cover; }
        #types .type .text .icon.regenaracion {
          background: url(../images/icons/8.svg);
          background-size: cover; }
      #types .type .text .line {
        width: 100%;
        height: 1px;
        background: rgba(18, 17, 14, 0.8); }
      #types .type .text .show {
        position: absolute;
        bottom: -1px;
        left: -1px;
        width: 100%;
        font-size: 14px;
        background: #ED1C24;
        padding: 10px 1px;
        text-align: center;
        color: #FFF;
        cursor: pointer; }
  #types .type:nth-child(4n-2) {
    margin: 0 16px 0 8px; }
  #types .type:nth-child(4n-3) {
    margin: 0 8px 0 16px; }
  #types .button {
    display: none;
    margin: 100px 0 130px; }
  #types #chat {
    position: absolute;
    right: 0;
    bottom: 40px;
    display: none;
    cursor: pointer; }

#complete {
  border: none;
  background: rgba(239, 239, 239, 0.25);
  padding: 100px 0 0; }
  #complete .center {
    position: relative;
    padding-bottom: 100px; }
  #complete h3 {
    padding-bottom: 80px; }
  #complete #super_slider_cards {
    position: relative;
    width: 100%;
    height: 275px; }
    #complete #super_slider_cards #bg_left {
      position: absolute;
      width: 279px;
      height: 275px;
      top: 0;
      left: 0;
      z-index: 10;
      background-image: linear-gradient(to right, #fbfbfb, rgba(251, 251, 251, 0.69), rgba(251, 251, 251, 0)); }
    #complete #super_slider_cards #bg_right {
      position: absolute;
      width: 279px;
      height: 275px;
      top: 0;
      right: 0;
      z-index: 10;
      background-image: linear-gradient(to left, #fbfbfb, rgba(251, 251, 251, 0.69), rgba(251, 251, 251, 0)); }
  #complete #slider_cards .card {
    width: 790px !important;
    margin: 0 10px; }

.up {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 45px;
  background: url(../images/icons/up.svg);
  cursor: pointer; }

@media all and (max-width: 767px) {
  .center {
    width: 100%; }

  #chat {
    bottom: 20px !important; }

  #viewmore {
    margin-top: 20px !important; }

  #menu .mini_logo {
    margin: 0 !important; }
  #menu .login, #menu .company {
    display: none !important; }
  #menu #trigger_menu, #menu #trigger_menu_login {
    display: block !important; }

  #complete {
    display: none; }

  .cover_text {
    display: none; }

  #welcome {
    height: 400px !important; }
    #welcome .cover_video {
      display: none; }
    #welcome .logo {
      margin-top: 40px;
      width: 240px; }
    #welcome h1 {
      font-size: 18px !important;
      padding: 0 20px; }
    #welcome iframe {
      width: 280px;
      height: 180px; }
    #welcome .logo_container {
      width: 290px !important;
      margin-top: 90px !important;
      height: 74px !important; }

  .login h1 {
    width: auto;
    margin-top: 100px;
    font-size: 34px;
    padding: 0 20px; }
  .login p {
    padding: 0 20px; }
  .login #footer p {
    padding: 0; }
  .login .field {
    overflow: hidden;
    width: 94%;
    margin: 10px 0; }
    .login .field input {
      margin: 20px;
      width: 86% !important; }
    .login .field .erroricon {
      display: none; }
  .login .content {
    padding-bottom: 60px; }
  .login .button {
    margin-left: 20px; }

  .section {
    padding: 40px 0; }

  .card {
    width: 84%;
    height: auto;
    margin: 0 auto; }
    .card img {
      width: 100% !important; }
    .card .text {
      padding: 20px; }
      .card .text .field {
        margin: 20px 20px 0 0; }
      .card .text h2 {
        font-size: 22px; }
      .card .text p {
        font-size: 16px; }

  .button {
    margin-top: 40px;
    width: 86% !important;
    padding: 14px 0; }

  .home h3 {
    font-size: 22px;
    padding: 0 20px; }

  #featured h3 {
    margin: 20px 0 !important; }

  #why h3 {
    padding-bottom: 20px; }
  #why #step2 .square {
    height: 300px; }
  #why .step {
    display: block !important;
    float: none !important;
    width: 86%;
    height: 304px;
    margin: 40px auto; }
    #why .step span {
      left: -10px;
      top: -70px; }
    #why .step .square {
      display: block !important;
      width: 96%;
      height: 280px; }
      #why .step .square h2 {
        font-size: 20px;
        padding: 20px 60px 20px 24px; }
    #why .step .icon {
      top: 10px;
      right: 10px;
      width: 50px;
      height: 50px; }
  #why .line_v, #why .line_h {
    display: none !important; }

  #types h3 {
    padding-bottom: 20px; }
  #types .simple {
    padding: 0 20px; }
  #types .type {
    width: 86%;
    margin: 0 auto 20px !important; }
    #types .type .text {
      width: 100%; }
    #types .type .cover {
      width: 100%; }

  .up {
    margin: 40px 20px 40px 0; }

  #footer {
    padding: 40px 0; }
    #footer .logo {
      float: none;
      margin: 0 0 20px 16px; }
    #footer ul {
      float: none;
      width: 90%;
      margin: 0 auto; }
      #footer ul li {
        display: block; }
        #footer ul li br {
          display: block; }
        #footer ul li .icon {
          margin: 10px 10px 10px 0; }
        #footer ul li span {
          display: none; }
        #footer ul li a {
          display: block;
          margin-bottom: 10px; } }

/*# sourceMappingURL=home.css.map */
