.profile h3 {
  font-size: 20px;
  color: #ED1C24; }
.profile #notification {
  width: 100%;
  padding: 20px 0;
  background: rgba(19, 224, 110, 0.1);
  font-size: 14px;
  text-align: center; }
  .profile #notification .center {
    position: relative; }
  .profile #notification a {
    color: #ED1C24; }
  .profile #notification .icon {
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgba(18, 17, 14, 0.8);
    top: 3px;
    right: 0;
    cursor: pointer; }
.profile #menu {
  position: absolute; }
  .profile #menu .menu_profile {
    float: right;
    content: "" !important;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
    letter-spacing: -0.4px;
    padding: 20px; }
    .profile #menu .menu_profile:hover {
      background: #CB171E;
      color: #FFF; }
  .profile #menu .active {
    font-weight: 500;
    color: #FFF; }
  .profile #menu.notification {
    top: 54px; }
  .profile #menu ul {
    width: 146px;
    padding: 0 !important; }
    .profile #menu ul li:first-child {
      padding: 20px 0;
      cursor: default; }
    .profile #menu ul:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); }
    .profile #menu ul:hover a {
      display: block; }
    .profile #menu ul * {
      float: none;
      text-align: center; }
    .profile #menu ul a {
      display: none;
      width: 146px;
      padding: 20px 0 !important;
      border-top: 1px solid #ED1C24; }
      .profile #menu ul a:hover {
        background: #B01319 !important; }
.profile .header {
  background: #ED1C24;
  background-image: linear-gradient(176deg, #ED1C24, #DB1E2A); }
  .profile .header .center {
    position: relative;
    height: 228px; }
  .profile .header .content {
    position: absolute;
    bottom: 0;
    width: 540px; }
    .profile .header .content h3 {
      padding-bottom: 60px; }
    .profile .header .content img {
      position: absolute;
      bottom: -18px;
      width: 134px;
      height: 134px;
      z-index: 12;
      border: 8px solid #FFF;
      border-radius: 100px; }
    .profile .header .content h2 {
      width: 500px;
      font-size: 50px;
      font-weight: 500;
      padding: 10px 10px 4px 170px;
      color: #FFF; }
    .profile .header .content p {
      padding: 10px 0 20px 164px;
      margin: 0 10px;
      font-size: 14px;
      color: #FFF; }
    .profile .header .content a {
      display: block;
      padding: 0 0 20px 174px;
      font-size: 13px;
      color: #FFF; }
      .profile .header .content a:hover {
        text-decoration: underline; }
  .profile .header .name {
    left: 0; }
    .profile .header .name p.first {
      padding-left: 160px; }
    .profile .header .name p {
      display: inline-block;
      color: rgba(255, 255, 255, 0.8);
      padding-left: 0; }
  .profile .header .return {
    right: 0;
    text-align: right; }
    .profile .header .return * {
      float: right; }
    .profile .header .return p {
      color: rgba(255, 255, 255, 0.8); }
    .profile .header .return h2 {
      font-size: 30px;
      font-weight: 300; }
  .profile .header .inversion {
    right: 280px; }
.profile .submenu {
  border-top: 1px solid #D4D4D4;
  border-bottom: 1px solid #D4D4D4;
  padding-top: 28px;
  text-align: center;
  padding-bottom: 20px; }
  .profile .submenu .center {
    position: relative; }
  .profile .submenu .left {
    display: none;
    cursor: pointer;
    position: absolute;
    top: -4px;
    left: 0;
    width: 20px;
    height: 20px;
    background: url(../images/icons/prev.png) center no-repeat;
    background-size: cover; }
  .profile .submenu .right {
    cursor: pointer;
    position: absolute;
    top: -4px;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(../images/icons/arrow_next_b.svg) center no-repeat;
    background-size: cover; }
    .profile .submenu .right:hover {
      background: url(../images/icons/arrow_next.svg) center no-repeat;
      background-size: cover; }
.profile .proyects {
  overflow: hidden;
  margin: 70px 0 70px; }
.profile .big_card .card {
  width: 790px;
  height: 364px; }
  .profile .big_card .card img {
    width: 300px;
    height: 364px; }
  .profile .big_card .card .money {
    padding: 40px 0 0;
    overflow: hidden; }
    .profile .big_card .card .money .first {
      padding-left: 18px;
      margin-right: 40px; }
      .profile .big_card .card .money .first span {
        left: 0; }
    .profile .big_card .card .money div {
      position: relative;
      float: left;
      width: 180px; }
      .profile .big_card .card .money div h3 {
        font-size: 23px;
        font-weight: 500;
        color: rgba(18, 17, 14, 0.8); }
      .profile .big_card .card .money div p {
        color: #ED1C24;
        margin-top: 8px;
        font-size: 12px; }
      .profile .big_card .card .money div span {
        position: absolute;
        font-size: 58px;
        font-weight: bold;
        color: rgba(18, 17, 14, 0.05);
        top: -24px;
        left: -20px; }
  .profile .big_card .card .next_step {
    padding: 10px 0; }
    .profile .big_card .card .next_step span {
      display: block;
      font-size: 14px;
      color: rgba(18, 17, 14, 0.8);
      margin-bottom: 10px; }
    .profile .big_card .card .next_step p {
      font-size: 18px;
      font-weight: 500; }
  .profile .big_card .card .fields {
    float: left; }
  .profile .big_card .card .crowdfunding {
    float: left;
    margin: 36px 0 0 0; }
    .profile .big_card .card .crowdfunding .bar {
      width: 400px;
      height: 20px;
      border: 1px solid #ED1C24;
      background: #FFF;
      margin: 6px 0; }
      .profile .big_card .card .crowdfunding .bar .fill {
        width: 70%;
        height: 100%;
        background: #ED1C24; }
    .profile .big_card .card .crowdfunding .percent, .profile .big_card .card .crowdfunding .time {
      float: left;
      width: 200px;
      font-size: 12px; }
      .profile .big_card .card .crowdfunding .percent strong, .profile .big_card .card .crowdfunding .time strong {
        font-weight: bold; }
    .profile .big_card .card .crowdfunding .time {
      float: right;
      text-align: right; }
.profile .big_card:nth-child(2n) .fill {
  width: 100% !important; }
.profile .mini_card {
  cursor: pointer;
  float: right;
  width: 380px;
  height: 364px;
  border: 1px solid rgba(18, 17, 14, 0.8); }
  .profile .mini_card img {
    width: 100%;
    height: 200px; }
  .profile .mini_card h2 {
    font-size: 34px;
    font-weight: 500;
    color: rgba(18, 17, 14, 0.8);
    padding: 20px 30px; }
  .profile .mini_card p {
    font-size: 18px;
    color: rgba(18, 17, 14, 0.8);
    padding: 0 30px 0; }
.profile .other_cards {
  padding: 70px 0 56px;
  border-bottom: 1px solid #D4D4D4; }
  .profile .other_cards .card {
    display: inline-block;
    margin-top: 56px;
    width: 586px; }
    .profile .other_cards .card img {
      height: 200px; }
    .profile .other_cards .card:nth-child(2n) {
      margin-right: 14px; }
.profile #timeline {
  position: relative;
  background: rgba(239, 239, 239, 0.25);
  padding: 100px 0; }
  .profile #timeline .cover_text {
    opacity: 1; }
.profile .title {
  font-size: 20px;
  color: #ED1C24; }
.profile .timeline {
  position: relative;
  padding: 120px 0 120px 0; }
  .profile .timeline .cover_text {
    opacity: 1;
    margin-top: 260px; }
  .profile .timeline .name {
    display: inline-block; }
    .profile .timeline .name .icon {
      float: left;
      width: 24px;
      height: 24px;
      border: 2px solid #ED1C24;
      background: url(../images/icons/clock.svg) center no-repeat; }
    .profile .timeline .name p {
      float: left;
      height: 18px;
      font-size: 12px;
      font-weight: 500;
      color: rgba(18, 17, 14, 0.8);
      border-top: 2px solid rgba(18, 17, 14, 0.8);
      border-right: 2px solid rgba(18, 17, 14, 0.8);
      border-bottom: 2px solid rgba(18, 17, 14, 0.8);
      padding: 6px 10px 0; }
  .profile .timeline .line {
    margin: -2px 0 0 26px;
    width: 2px;
    height: 120px;
    background: #ED1C24; }
    .profile .timeline .line.top {
      margin-top: -24px; }
  .profile .timeline .point {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin: -28px 0 0 -8px;
    position: relative; }
    .profile .timeline .point .icon {
      margin: 28px auto 0;
      width: 18px;
      height: 18px;
      border-radius: 100px;
      background: #ED1C24; }
      .profile .timeline .point .icon.active {
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0; }
    .profile .timeline .point .pointer {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #ED1C24;
      left: 50%;
      top: 32px;
      margin-left: -5px;
      border-radius: 100px; }
  .profile .timeline .step {
    margin-top: -40px;
    margin-left: -10px;
    display: inline-block; }
    .profile .timeline .step * {
      display: inline-block;
      font-size: 16px;
      padding: 10px 10px;
      color: rgba(18, 17, 14, 0.8); }
    .profile .timeline .step span {
      vertical-align: top;
      margin: 12px 0 0 0;
      width: 130px; }
    .profile .timeline .step p {
      border: 1px solid #D4D4D4;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); }
    .profile .timeline .step .simple {
      border-radius: 4px;
      padding: 24px; }
    .profile .timeline .step .red {
      color: #ED1C24; }
  .profile .timeline #step3 {
    margin-top: -54px; }
  .profile .timeline .reach {
    border-radius: 4px;
    position: relative;
    display: inline-block;
    border: 1px solid #D4D4D4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 496px;
    padding: 10px 10px 20px; }
    .profile .timeline .reach.large {
      width: 540px; }
    .profile .timeline .reach.video {
      width: 262px; }
    .profile .timeline .reach .label {
      position: absolute;
      width: 40px;
      height: 5px;
      background: #ED1C24;
      padding: 0;
      left: -20px;
      top: 50px; }
    .profile .timeline .reach h2 {
      font-size: 16px;
      color: rgba(18, 17, 14, 0.8); }
    .profile .timeline .reach .photos {
      width: 100%;
      margin: 20px auto; }
      .profile .timeline .reach .photos img {
        padding: 0;
        float: left;
        width: 115px;
        height: 83px;
        margin-right: 20px; }
    .profile .timeline .reach .minivideo {
      margin: 10px 0 10px 62px;
      text-align: center; }
    .profile .timeline .reach p {
      border: none;
      box-shadow: none;
      line-height: 20px;
      margin-top: 14px;
      font-size: 13px; }
    .profile .timeline .reach strong {
      font-size: 13px;
      padding: 0;
      font-weight: 500; }
    .profile .timeline .reach .icon {
      position: absolute;
      width: 20px;
      height: 20px;
      padding: 0;
      right: 10px;
      bottom: 10px; }
      .profile .timeline .reach .icon.images {
        background: url(../images/icons/photo.svg) center no-repeat;
        background-size: cover; }
      .profile .timeline .reach .icon.time {
        background: url(../images/icons/time.svg) center no-repeat;
        background-size: cover; }
      .profile .timeline .reach .icon.play {
        background: url(../images/icons/video.svg) center no-repeat;
        background-size: cover; }
    .profile .timeline .reach .timer {
      padding: 40px 0; }
      .profile .timeline .reach .timer * {
        display: inline-block;
        vertical-align: bottom; }
      .profile .timeline .reach .timer .counter {
        width: 132px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ED1C24;
        margin: 0 20px;
        text-align: center; }
        .profile .timeline .reach .timer .counter * {
          display: inline-block;
          padding: 0;
          margin: 0;
          width: auto;
          color: #ED1C24;
          font-size: 16px;
          vertical-align: middle; }
        .profile .timeline .reach .timer .counter #hour {
          margin-right: -10px; }
        .profile .timeline .reach .timer .counter #arrows {
          width: 13px;
          height: 26px;
          background: url(../images/icons/arrows.svg) center no-repeat;
          margin: 0 10px;
          cursor: pointer; }
      .profile .timeline .reach .timer .button {
        width: 140px;
        color: #FFF;
        text-align: center;
        margin: 0;
        cursor: pointer; }
  .profile .timeline #line4 {
    margin-top: -178px;
    height: 400px; }
  .profile .timeline #line5 {
    height: 180px; }
  .profile .timeline #line6 {
    height: 380px;
    margin-top: -240px; }
  .profile .timeline #line8 {
    height: 300px;
    margin-top: -192px; }
  .profile .timeline #point1 {
    margin-top: -62px; }
  .profile .timeline #point5 {
    margin-top: -46px; }
  .profile .timeline .green p {
    border-radius: 4px;
    padding: 24px;
    background: #14E06E;
    border: solid 1px #14E06E;
    color: #FFF !important; }
.profile .extrafooter {
  padding-bottom: 40px; }
  .profile .extrafooter * {
    margin: 0; }
  .profile .extrafooter .share {
    float: left;
    margin-top: 12px; }
    .profile .extrafooter .share * {
      display: inline-block;
      vertical-align: middle; }
    .profile .extrafooter .share p {
      font-size: 14px;
      color: #ED1C24; }
    .profile .extrafooter .share .icon {
      width: 22px;
      height: 16px;
      background: url(../images/icons/email.svg) center no-repeat; }
  .profile .extrafooter .call {
    float: right; }
    .profile .extrafooter .call * {
      display: inline-block;
      vertical-align: middle; }
    .profile .extrafooter .call p {
      font-size: 14px;
      margin-right: 10px; }
    .profile .extrafooter .call .button {
      text-align: center; }
.profile .edit {
  text-align: left;
  padding: 100px 0; }
  .profile .edit .line {
    margin: 40px 0; }
  .profile .edit span {
    display: block; }
  .profile .edit h2 {
    font-size: 20px;
    color: #ED1C24;
    margin-bottom: 20px; }
  .profile .edit .center {
    overflow: hidden; }
  .profile .edit .field {
    display: inline-block;
    margin: 30px 0 0 0;
    text-align: left;
    width: 320px; }
    .profile .edit .field a {
      display: inline-block;
      font-size: 14px;
      color: #ED1C24;
      text-decoration: underline;
      margin: 20px 0;
      cursor: pointer; }
    .profile .edit .field #file {
      display: none; }
    .profile .edit .field #prevfile {
      position: relative;
      display: inline-block;
      border-radius: 5px;
      background: rgba(239, 239, 239, 0.5);
      color: rgba(18, 17, 14, 0.4);
      padding: 10px 30px 10px 10px;
      border: 1px solid #D4D4D4;
      margin: 10px 20px 0 0;
      cursor: pointer; }
      .profile .edit .field #prevfile .close {
        position: absolute;
        top: 8px;
        right: 4px;
        width: 20px;
        height: 20px;
        background: url(../images/icons/close_.svg) center no-repeat; }
    .profile .edit .field p {
      font-size: 16px;
      letter-spacing: -0.4px;
      color: rgba(18, 17, 14, 0.8); }
    .profile .edit .field input {
      margin-top: 10px;
      background: rgba(239, 239, 239, 0.5);
      border: 1px solid #D4D4D4;
      width: 310px;
      padding: 10px;
      font-family: "Roboto Mono";
      font-size: 16px;
      color: rgba(18, 17, 14, 0.8);
      letter-spacing: -0.5px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      outline: none; }
      .profile .edit .field input:focus {
        border-color: #ED1C24; }
  .profile .edit .right {
    margin-right: 104px; }
  .profile .edit .button {
    width: 220px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin-top: 22px; }
.profile .pendientes {
  background: rgba(239, 239, 239, 0.25);
  padding: 44px 0; }
  .profile .pendientes .subtitle {
    font-size: 20px;
    color: #ED1C24;
    margin-top: 44px; }
.profile .line {
  width: 100%;
  height: 1px;
  background: #D4D4D4; }
.profile .proyect_data {
  padding: 60px 0;
  color: rgba(18, 17, 14, 0.8);
  text-align: center; }
  .profile .proyect_data:nth-child(2n-1) {
    background: rgba(239, 239, 239, 0.25); }
  .profile .proyect_data .instructions {
    padding: 50px 0 30px; }
  .profile .proyect_data #fakefiles {
    cursor: pointer;
    text-align: center; }
    .profile .proyect_data #fakefiles .icon {
      display: inline-block;
      vertical-align: bottom;
      width: 15px;
      height: 17px;
      margin-right: 10px;
      background: url(../images/icons/upload.svg) center no-repeat; }
  .profile .proyect_data #files {
    display: none; }
  .profile .proyect_data #prevfiles {
    cursor: pointer;
    position: relative;
    display: none;
    border-radius: 5px;
    background: rgba(239, 239, 239, 0.5);
    color: rgba(18, 17, 14, 0.4);
    padding: 10px 30px 10px 10px;
    border: 1px solid #D4D4D4;
    margin: 30px 20px 0 0; }
    .profile .proyect_data #prevfiles .close {
      position: absolute;
      top: 8px;
      right: 4px;
      width: 20px;
      height: 20px;
      background: url(../images/icons/close_.svg) center no-repeat; }
  .profile .proyect_data .subtitle {
    font-size: 16px;
    color: rgba(18, 17, 14, 0.8);
    padding: 40px 0; }
  .profile .proyect_data .card {
    position: relative;
    display: inline-block;
    color: #ED1C24;
    margin: 40px 0 0 20px;
    height: 250px;
    text-align: left; }
    .profile .proyect_data .card img {
      width: 300px;
      height: 250px; }
    .profile .proyect_data .card .label {
      text-align: left;
      display: inline-block;
      font-size: 12px;
      background: #ED1C24;
      color: #FFF;
      padding: 6px 10px;
      margin-left: 20px; }
    .profile .proyect_data .card span {
      display: inline-block;
      vertical-align: middle; }
    .profile .proyect_data .card .icon {
      display: inline-block;
      vertical-align: middle;
      width: 22px;
      height: 22px;
      background: #ED1C24; }
    .profile .proyect_data .card .field.nomargin {
      margin-top: 30px; }
  .profile .proyect_data .large {
    height: 330px; }
    .profile .proyect_data .large img {
      height: 330px; }
  .profile .proyect_data .button {
    margin: 0 auto; }

.constructor .content {
  width: 100% !important; }
  .constructor .content h2 {
    width: 100% !important; }
  .constructor .content a {
    padding: 10px 0 20px 164px;
    margin: 0 10px;
    font-size: 14px;
    color: #FFF; }
.constructor .proyects .title {
  margin-bottom: 50px; }
.constructor .online {
  background: rgba(239, 239, 239, 0.25);
  padding-bottom: 100px; }
  .constructor .online h2 {
    padding: 60px 0; }
  .constructor .online .card {
    width: 570px;
    display: inline-block; }
    .constructor .online .card:nth-child(1n) {
      margin-right: 22px; }
    .constructor .online .card img {
      width: 179px;
      height: 200px; }
    .constructor .online .card h2 {
      padding: 0;
      font-size: 30px; }
    .constructor .online .card .crowdfunding {
      float: left;
      margin: 60px 0 0 0; }
      .constructor .online .card .crowdfunding .bar {
        width: 330px;
        height: 20px;
        border: 1px solid #ED1C24;
        background: #FFF;
        margin: 6px 0; }
        .constructor .online .card .crowdfunding .bar .fill {
          width: 70%;
          height: 100%;
          background: #ED1C24; }
      .constructor .online .card .crowdfunding .percent, .constructor .online .card .crowdfunding .time {
        float: left;
        width: 110px;
        font-size: 12px;
        color: rgba(18, 17, 14, 0.8); }
        .constructor .online .card .crowdfunding .percent strong, .constructor .online .card .crowdfunding .time strong {
          font-weight: bold; }
      .constructor .online .card .crowdfunding .time {
        float: right;
        text-align: right; }

@media all and (max-width: 767px) {
  #menu .menu_profile {
    display: none; }

  .profile .title {
    padding-left: 20px !important;
    margin-bottom: 20px !important; }
  .profile .pendientes {
    padding: 20px 0; }
    .profile .pendientes .subtitle {
      padding-left: 20px; }
  .profile .proyect_data {
    padding: 20px 0; }
    .profile .proyect_data .card {
      margin: 40px 0 !important; }
      .profile .proyect_data .card .text {
        padding: 20px 1px; }
      .profile .proyect_data .card .label {
        margin-left: 0 !important; }
  .profile .header {
    padding-bottom: 40px; }
    .profile .header div {
      float: none;
      width: 100%;
      overflow: hidden; }
      .profile .header div img {
        width: 40px;
        height: 40px;
        margin-left: 20px; }
      .profile .header div h2 {
        width: 240px;
        font-size: 20px;
        padding: 0 0 4px 10px; }
      .profile .header div p {
        float: none !important;
        font-size: 14px; }
    .profile .header .center {
      height: auto; }
      .profile .header .center .content {
        position: relative;
        text-align: center;
        width: 100% !important; }
        .profile .header .center .content h2 {
          font-size: 34px;
          width: 100%;
          padding: 0; }
        .profile .header .center .content p {
          padding: 0;
          margin: 20px 0 0; }
      .profile .header .center .name img {
        position: relative;
        display: block;
        margin: 60px auto 30px;
        width: 90px;
        height: 90px;
        border: 5px solid #FFF; }
      .profile .header .center .name p {
        padding: 0 !important;
        margin: 20px 0 0 !important; }
      .profile .header .center .inversion {
        position: relative !important;
        right: 0; }
      .profile .header .center .return {
        margin: 40px 0; }
        .profile .header .center .return p {
          margin-top: 40px !important; }
  .profile .submenu {
    text-align: center; }
    .profile .submenu li {
      margin: 0 10px; }
    .profile .submenu a {
      display: none; }
  .profile .big_card {
    padding-top: 40px;
    text-align: center; }
    .profile .big_card .card {
      width: 90% !important;
      height: auto; }
      .profile .big_card .card img {
        width: 100% !important;
        height: auto; }
      .profile .big_card .card .money {
        padding: 20px 0; }
        .profile .big_card .card .money div {
          margin-bottom: 20px; }
          .profile .big_card .card .money div h3 {
            font-size: 20px; }
          .profile .big_card .card .money div span {
            left: 0; }
        .profile .big_card .card .money .first {
          margin-left: 0;
          padding-left: 0; }
  .profile .step {
    margin-left: 56px !important; }
    .profile .step span {
      display: block !important;
      width: 40px !important;
      margin: 0 !important; }
    .profile .step .simple {
      width: 200px;
      padding: 24px 10px !important; }
  .profile .reach {
    width: 220px !important;
    padding-bottom: 10px !important; }
    .profile .reach .label, .profile .reach .timer, .profile .reach .photos, .profile .reach .icon, .profile .reach .minivideo {
      display: none !important; }
  .profile .line {
    height: 240px !important; }
  .profile #line4 {
    margin-top: -94px !important; }
  .profile #line5 {
    margin-top: -88px !important; }
  .profile #line6 {
    margin-top: -358px !important;
    height: 460px !important; }
  .profile #line7 {
    margin-top: -104px !important; }
  .profile .share {
    display: none !important; }
  .profile .call {
    text-align: center !important; }
    .profile .call p {
      margin-bottom: 20px !important; }
  .profile #timeline {
    padding-top: 40px !important; }
    .profile #timeline .timeline {
      padding: 60px 0 !important; }
  .profile .bar {
    width: 100% !important; }
  .profile .other_cards h3 {
    text-align: center;
    padding-bottom: 56px; }
  .profile .other_cards .card {
    display: block;
    width: 90%;
    margin: 0 auto 20px; }
    .profile .other_cards .card img {
      width: 100%; }
  .profile .time {
    width: 130px !important; }
  .profile .percent {
    width: 118px !important; }

  .constructor .online .card {
    display: block;
    width: 90%;
    margin: 20px auto; }
    .constructor .online .card img {
      width: 100%; }

  .edit {
    padding: 40px 20px 80px !important; }
    .edit .button {
      width: 100% !important; }
    .edit .line {
      height: 1px !important; }
    .edit .field {
      width: 100% !important; }
    .edit input {
      width: 92% !important; } }

/*# sourceMappingURL=profile.css.map */
