@charset "UTF-8";
.proyecto_contratos #menu .login::after {
  content: "Cerrar sesión" !important; }
.proyecto_contratos .header_page {
  padding: 50px 0;
  background: #ED1C24;
  background-image: linear-gradient(176deg, #ED1C24, #DB1E2A); }
  .proyecto_contratos .header_page h1 {
    text-align: center;
    font-size: 46px;
    color: #FFF;
    margin: 82px 0 60px; }
  .proyecto_contratos .header_page a {
    color: #FFF;
    font-size: 14px; }
.proyecto_contratos .content {
  padding: 60px auto;
  text-align: center;
  color: rgba(18, 17, 14, 0.8); }
  .proyecto_contratos .content .explication {
    position: relative;
    overflow: hidden;
    background: #FFF; }
    .proyecto_contratos .content .explication .subtitle {
      width: 700px;
      font-size: 20px;
      color: #ED1C24;
      text-align: left;
      margin: 60px 0; }
    .proyecto_contratos .content .explication .step {
      float: right;
      position: relative;
      width: 648px;
      height: 176px;
      margin: 80px 0; }
      .proyecto_contratos .content .explication .step .line {
        position: absolute;
        width: 40px;
        height: 10px;
        background: #ED1C24;
        z-index: 6;
        top: 30px;
        left: -20px; }
      .proyecto_contratos .content .explication .step span {
        position: absolute;
        font-size: 274px;
        font-weight: 700;
        color: rgba(18, 17, 14, 0.05);
        left: -56px;
        top: -110px;
        z-index: 1; }
      .proyecto_contratos .content .explication .step .square {
        position: absolute;
        width: 628px;
        height: 178px;
        border: 1px solid rgba(18, 17, 14, 0.8);
        background: #FFF;
        text-align: left; }
        .proyecto_contratos .content .explication .step .square h2 {
          font-size: 24px;
          color: #ED1C24;
          padding: 16px 24px;
          max-width: 410px; }
        .proyecto_contratos .content .explication .step .square p {
          font-size: 14px;
          color: #12110e;
          padding: 0 24px;
          max-width: 410px;
          line-height: 20px; }
      .proyecto_contratos .content .explication .step .down {
        z-index: -1;
        right: 0;
        top: 20px; }
      .proyecto_contratos .content .explication .step .icon {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 40px;
        right: 34px; }
    .proyecto_contratos .content .explication .step:nth-child(2n-1) {
      float: left; }
  .proyecto_contratos .content h2 {
    font-size: 34px;
    font-weight: 500; }
  .proyecto_contratos .content p {
    font-size: 18px; }
  .proyecto_contratos .content .card {
    margin: 120px auto 0; }
.proyecto_contratos .contrato {
  padding: 80px 0; }
  .proyecto_contratos .contrato p {
    width: 670px;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 1px; }
.proyecto_contratos .instructions {
  padding: 80px 0;
  display: none; }
  .proyecto_contratos .instructions #fakefiles {
    display: inline-block;
    font-size: 14px;
    color: #ED1C24;
    text-decoration: underline;
    margin: 20px 0;
    cursor: pointer; }
  .proyecto_contratos .instructions #files {
    display: none; }
  .proyecto_contratos .instructions #prevfiles {
    display: none;
    border-radius: 5px;
    background: rgba(239, 239, 239, 0.5);
    color: rgba(18, 17, 14, 0.4);
    padding: 10px 20px;
    border: 1px solid #D4D4D4;
    margin: 10px 20px 0 0; }
  .proyecto_contratos .instructions .subtitle {
    font-size: 20px;
    text-align: left;
    margin-bottom: 80px; }
  .proyecto_contratos .instructions .pack {
    text-align: center;
    width: 100%;
    margin-bottom: 80px; }
    .proyecto_contratos .instructions .pack div {
      vertical-align: top;
      display: inline-block;
      width: 300px;
      padding: 0 20px; }
      .proyecto_contratos .instructions .pack div h2 {
        text-align: left;
        font-size: 16px;
        height: 40px; }
      .proyecto_contratos .instructions .pack div p {
        text-align: left;
        width: auto;
        font-size: 14px; }
  .proyecto_contratos .instructions p {
    width: 668px;
    font-size: 16px;
    margin: 10px auto; }
  .proyecto_contratos .instructions ul {
    width: 260px;
    padding: 60px 0;
    margin: 0 auto; }
    .proyecto_contratos .instructions ul li {
      text-align: left;
      margin-bottom: 20px; }
      .proyecto_contratos .instructions ul li .icon {
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        background: #ED1C24; }
  .proyecto_contratos .instructions .url {
    color: #ED1C24;
    margin: 30px 20px 30px 0;
    display: inline-block;
    text-decoration: underline; }
  .proyecto_contratos .instructions .button {
    display: inline-block; }
  .proyecto_contratos .instructions #upload {
    color: #FFF;
    width: 350px; }
  .proyecto_contratos .instructions.active {
    display: block; }

/*# sourceMappingURL=proyecto_contratos.css.map */
