.registro .header_page {
  padding: 50px 0;
  background: #ED1C24; }
  .registro .header_page h1 {
    text-align: center;
    font-size: 46px;
    color: #FFF;
    margin: 82px 0 97px; }
.registro .content {
  padding-bottom: 60px;
  background-image: linear-gradient(to bottom, #fefefe, #fbfbfb), linear-gradient(#fbfbfb, #fbfbfb);
  border-bottom: 1px solid #D4D4D4; }
.registro form {
  width: 750px;
  margin: 80px auto;
  padding: 40px 0 0;
  border: 1px solid #D4D4D4;
  overflow: hidden; }
  .registro form span {
    text-align: left;
    display: block;
    font-size: 16px;
    padding: 0 20px; }
  .registro form .field {
    display: inline-block;
    margin: 30px 0 30px 20px;
    text-align: left;
    width: 320px; }
    .registro form .field p {
      font-size: 16px;
      letter-spacing: -0.4px;
      color: rgba(18, 17, 14, 0.8); }
    .registro form .field input {
      margin-top: 10px;
      background: rgba(239, 239, 239, 0.5);
      border: 1px solid #D4D4D4;
      width: 310px;
      padding: 6px 10px;
      font-family: "Roboto Mono";
      font-size: 16px;
      color: rgba(18, 17, 14, 0.8);
      letter-spacing: -0.5px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      outline: none; }
      .registro form .field input:focus {
        border-color: #ED1C24; }
  .registro form .line {
    width: 100%;
    height: 1px;
    background: #D4D4D4; }
  .registro form .contract .head {
    overflow: hidden;
    padding: 30px 20px; }
    .registro form .contract .head h2 {
      float: left;
      font-size: 16px; }
    .registro form .contract .head a {
      float: right;
      color: #ED1C24;
      font-size: 14px; }
      .registro form .contract .head a * {
        display: inline-block;
        vertical-align: middle; }
      .registro form .contract .head a .icon {
        width: 22px;
        height: 22px;
        background: url(../images/icons/print.svg); }
  .registro form .contract .content {
    height: 320px;
    overflow-y: auto;
    margin-bottom: 20px; }
    .registro form .contract .content p {
      padding: 10px 30px;
      font-size: 14px;
      line-height: 16px; }
  .registro form .contract .check {
    margin: 20px;
    font-size: 14px; }
    .registro form .contract .check * {
      display: inline-block;
      vertical-align: middle; }
    .registro form .contract .check .icon {
      width: 20px;
      height: 20px;
      border: 1px solid #D4D4D4; }
  .registro form .button {
    width: 180px !important;
    text-align: center;
    float: right;
    margin: 20px; }

@media all and (max-width: 767px) {
  .registro h1 {
    font-size: 28px;
    padding: 0 20px;
    margin: 40px 0; }

  form {
    width: 100% !important; }
    form span {
      line-height: 18px; }
    form .field {
      margin: 20px 0 20px 20px; }
      form .field:nth-child(2n) {
        margin-bottom: 0px; }
    form input {
      width: 256px !important; }
    form a {
      display: none; }
    form .button {
      float: none !important;
      margin: 20px auto !important; } }

/*# sourceMappingURL=registro.css.map */
