$red: #ED1C24
$black08: rgba(18, 17, 14, 0.8)
$gray: #D4D4D4
$white: #FFF
$green: #14E06E

.next_simulador
	.center
		width: 96%
	#menu
		background: transparent
		box-shadow: none !important
		border: none !important
	#ficha
		float: left
		width: 500px
		.data
			background: rgba(239, 239, 239, 0.25)
			border-right: 1px solid $gray
			min-height: 100%
			height: 100%
			overflow: hidden
			.text
				margin: 90px 40px 40px
				color: $black08
				h1
					font-size: 34px
				h2
					margin-top: 8px
				a
					display: inline-block
					margin: 20px 0
					color: $black08
					font-size: 14px
					&:hover
						text-decoration: underline
			.square
				width: 360px
				background: #FFF
				margin: 0 auto
				padding: 40px 32px
				border: 1px solid $gray
				color: $black08
				h2
					font-size: 18px
					font-weight: 500
					margin-bottom: 10px
				a
					color: #FFF
				.button
					text-align: center
					margin-bottom: 56px
				.money
					position: relative
					margin-top: 48px
					span
						position: absolute
						font-size: 58px
						font-weight: bold
						color: rgba(18, 17, 14, 0.05)
						top: -24px
						left: -20px
					h3
						display: inline-block
						font-size: 34px
					input
						font-size: 34px
						font-family: "Roboto Mono"
						width: 346px
						border: none
					#inputinversion
						border-bottom: 1px solid $red
						padding-bottom: 10px
					p
						font-size: 16px
						margin-top: 6px
						color: $red
					.currency
						display: inline-block
						margin: 0 -4px 0 -18px
					#controls
						display: inline-block
						width: 13px
						height: 26px
						margin-left: -28px
						cursor: pointer
						.controlup
							width: 13px
							height: 9px
							background: url(../images/icons/arrow_up.svg) center no-repeat
							margin-bottom: 10px
						.controldown
							width: 13px
							height: 9px
							background: url(../images/icons/arrow_down.svg) center no-repeat
				.social
					border-top: 1px dashed $gray
					p
						font-size: 16px
						color: $black08
						margin: 25px 0
					span
						color: $red
						margin-right: 30px
						font-size: 14px
						cursor: pointer
						.icon
							display: inline-block
							vertical-align: middle
							width: 22px
							height: 22px
						.print
							background: url(../images/icons/print.svg) center no-repeat
						.email
							background: url(../images/icons/email.svg) center no-repeat
						.url
							background: url(../images/icons/link.svg) center no-repeat
			
	#canvas
		.cover_text
			opacity: 1
			top: 20%
		position: relative
		overflow: hidden
		.content
			position: absolute
			width: 1000px
			left: 50%
			margin-left: -500px
			top: 50%
			height: 28px
			margin-top: -14px
			overflow: hidden
			#name
				display: inline-block
				.icon
					float: left
					width: 24px
					height: 24px
					border: 2px solid $red
					background: url(../images/icons/clock.svg) center no-repeat
				p
					float: left
					height: 18px
					font-size: 12px
					font-weight: 500
					color: $black08
					border-top: 2px solid $black08
					border-right: 2px solid $black08
					border-bottom: 2px solid $black08
					padding: 6px 10px 0
			.line
				margin: -24px 0 0 26px
				width: 2px
				height: 0
				background: $red
				&.top
					margin-top: -24px
			.point
				position: relative
				display: none
				vertical-align: top
				width: 70px
				height: 70px
				margin: -31px 0 0 -8px
				.icon
					margin: 28px auto 0
					width: 18px
					height: 18px
					border-radius: 100px
					background: $red
					&.active
						-webkit-animation: pulsate 1s ease-out
						-webkit-animation-iteration-count: infinite
						opacity: 0.0
				.pointer
					position: absolute
					width: 14px
					height: 14px
					background: $red
					left: 50%
					top: 30px
					margin-left: -7px
					border-radius: 100px
			#line1
				height: 160px
			#line2
				margin-top: -186px
			#line3
				margin-top: -220px
			#line5
				margin-top: -132px
			#line6
				margin-top: -60px
			#point1
				display: inline-block
			.step
				display: none
				margin-top: -40px
				*
					display: inline-block
					font-size: 16px
					padding: 10px 10px
					color: $black08
				span
					margin: 0 20px
					vertical-align: top
					margin-top: 30px
				.notop
					margin-top: 16px
				p
					border: 1px solid $gray
					box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15)
				.simple
					border-radius: 6px
					padding: 24px
			.reach
				&.large
					width: 540px
				&.video
					width: 262px
				border-radius: 4px
				position: relative
				display: inline-block
				border: 1px solid $gray
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26)
				width: 496px
				padding: 10px 10px 20px
				.label
					position: absolute
					width: 40px
					height: 5px
					background: $red
					padding: 0
					left: -20px
					top: 50px
				h2
					font-size: 16px
					color: $black08
				.photos
					width: 100%
					margin: 20px auto
					img
						padding: 0
						float: left
						width: 115px
						height: 83px
						margin-right: 20px
				.minivideo
					margin: 10px 0 10px 62px
					text-align: center
				p
					border: none
					box-shadow: none
					line-height: 20px
					margin-top: 14px
					font-size: 13px
				strong
					font-size: 13px
					padding: 0
					font-weight: 500
				.icon
					position: absolute
					width: 20px
					height: 20px
					padding: 0
					right: 10px
					bottom: 10px
					&.images
						background: url(../images/icons/photo.svg) center no-repeat
						background-size: cover
					&.time
						background: url(../images/icons/time.svg) center no-repeat
						background-size: cover
					&.play
						background: url(../images/icons/video.svg) center no-repeat
						background-size: cover
				.timer
					padding: 40px 0
					*
						display: inline-block
						vertical-align: bottom
					.counter
						width: 132px
						padding-bottom: 10px
						border-bottom: 1px solid $red
						margin: 0 20px
						text-align: center
						*
							display: inline-block
							padding: 0
							margin: 0
							width: auto
							color: $red
							font-size: 16px
							vertical-align: middle
						#hour
							margin-right: -10px
						#arrows
							width: 13px
							height: 26px
							background: url(../images/icons/arrows.svg) center no-repeat
							margin: 0 10px
							cursor: pointer
					.button
						width: 140px
						color: #FFF
						text-align: center
						margin: 0
						cursor: pointer
			.green
				p
					border-radius: 4px
					background: #14E06E
					border: solid 1px #14E06E
					color: #FFF !important

@media all and (max-width: 767px)
	.next_simulador 
		#ficha
			width: 100%
		#canvas
			float: left
			height: 800px !important
			width: 100%
